<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="noteForm" (ngSubmit)="submitNode()">

    <ion-item>
      <ion-input type="text" placeholder="Note's name" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Note" formControlName="description"></ion-textarea>
    </ion-item>

    <button ion-button type="submit" [disabled]="!noteForm.valid">Submit</button>
  </form>

  <button ion-button type="button" (click)="loadNotes()">Reload</button>

  <ion-list>
    <button ion-item *ngFor="let item of notes" (click)="showDetail($event, item)">
      {{item.title}}
      <div class="item-note" item-end>
        {{item.description}}
      </div>
      <sub>{{item.timestamp}}</sub>
    </button>
  </ion-list>
</ion-content>
