<ion-header>
  <ion-navbar>
    <ion-title>{{detail.title}} ({{detail.category}})</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-textarea [value]="detail.description"></ion-textarea>

</ion-content>
